.background_sliders{
  position: absolute;
  z-index: -2;
  top: 164px;
  right: -143px;
}
.stocks-products__stocks{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-family: Raleway-SemiBold,serif;
  font-size: 50px;
  padding-bottom: 82px;
}
.stocks-products__populars{
  color: #ff1313;
  font-family: Raleway-SemiBold,serif;
  font-size: 28px;
  padding-top: 85px;
  padding-bottom: 40px;
  padding-left: 57px;
}
@media (min-width: 320px) and (max-width:490px){
  .stocks-products__stocks{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
