.cart-element{
  display: flex;
  flex-direction: row;
  border-bottom:1px solid #CACACA;
  color: #ff1313;
  padding-top: 27px;
  align-items: center;
  min-width: 100%;
  max-height: 148px;
  justify-content: space-between;
}
.quantity-panel{
  display: flex;
  flex-direction: row;
}
.product-name{
  color: #FF1313;
  padding-left: 55px;
  padding-right: 200px;
  font-family: Raleway-Regular Raleway-SemiBold, serif;
  font-size: 28px;
  font-weight: 600;

}
.quantity-panel{
  display: flex;
  align-items: center;
}
.quantity_products{
  padding-left: 6px;
  padding-right: 6px;
  font-size: 32px;
  color: #ff1313;
}
.price_product{
  font-size: 28px;
  color: #ff1313;
  padding-right: 58px;
  padding-left: 164px;
}
.delete-product-cart-button{
  margin-top: -100px;

}
