.swiper-populars-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.swiper-popular{
  max-width: 1117px;
}
.prev-popular-button{
  min-width: 16px;
  min-height: 30px;
  padding-right: 36px;
}
.next-popular-button{
  min-width: 16px;
  min-height: 30px;
  padding-left: 36px;
}
//.popular-slide{
//  max-width:360px;
//  max-height: 135px;
//}
.popular-img{
  width: 100%;
  height: 100%;
}
@media (max-width: 1320px){
  //.popular-slide{
  //  max-width:360px;
  //  max-height: 135px;
  //}
  .popular-img{
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1200px){
  //.popular-slide{
  //  max-width: 320px;
  //  max-height: 135px;
  //}
}
@media (max-width: 1050px){

}
@media (max-width: 850px){
//.popular-slide{
//  width: 240px;
//  max-height: 135px;
//}
  .popular-img{
    width: 100%;
    height: 100%;
  }
}
@media (max-width:630px) {
  .swiper-populars-container{
    max-width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 320px) and (max-width: 479px){}
