.admin-product-cart{
    display: flex;
    flex-direction: column;
    border:1px solid red;
}
.save-button{
    background-color: #FF1313;
    width: 114px;
    height:32px;
    border-radius: 23px;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin-left: auto;
}
.choose-button{
    background-color: #FF1313;
    width: 114px;
    height:32px;
    border-radius: 23px;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin-left: auto;
}