.swiper-stocks-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.swiper-stocks{
  max-width: 1140px;
}
.prev-stocks-button{
  min-width: 16px;
  min-height: 30px;
  margin-right: 40px;
}
.next-stocks-button{
  min-width: 16px;
  min-height: 30px;
  margin-left: 40px;
}
.stocks-slide{
  max-width: 360px;
  max-height: 225px;
}
.swiper-img{
  width: 100%;
  height: 100%;
}
@media (max-width: 1320px){
 .swiper-stocks-container{
   display: flex;
 }
  .stocks-slide{
    max-width: 360px;
    max-height: 225px;
  }
  .swiper-img{
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1200px){

}
@media (max-width: 1050px){

}
@media (max-width: 850px){
.stocks-slide{
  max-width: 270px;
}

}
@media (max-width: 800px){
  .stocks-slide{
    max-width: 270px;
  }
  .swiper-img{
    width: 240px;
    height: 150px;
  }
}
@media (max-width:630px) {
  .swiper-stocks-container{

  }
}
@media (min-width: 320px) and (max-width: 479px){

}
