.order-information{
  font-size: 24px;
  font-weight: 500;
  font-family: Raleway-SemiBold, serif;
}
.shipping-method{
  display: flex;
}
.input_field_name {
  width: 653px;
  height: 72px;
  background-color: #FAF8F8;
  border-radius: 45px;
  border:none;
  font-size: 25px;
  padding-left: 20px;
}
.input_field_name_is_empty {
  width: 653px;
  height: 72px;
  background-color: #FAF8F8;
  border-radius: 45px;
  border:none;
  font-size: 25px;
  padding-left: 20px;
}
.validation_failed_input_name{
  border-color: #ff1313;
  width: 653px;
  height: 72px;
  background-color: #FAF8F8;
  border-radius: 45px;
  font-size: 25px;
  padding-left: 20px;
}

.fields-phone-numbers{
  display: flex;
  border:none;
  font-size: 25px;
}
.code_country{
  width: 132px;
  height: 72px;
  background-color: #FAF8F8;
  border-radius: 45px;
  border:none;
  font-size: 25px;
  padding-left: 20px;
}
.validation_failed_code_country{
  width: 132px;
  height: 72px;
  background-color: #FAF8F8;
  border-radius: 45px;
  border-color: #ff1313;
  font-size: 25px;
  padding-left: 20px;
}
.phone_number{
  margin-left: 19px;
  width: 503px;
  height: 72px;
  background-color: #FAF8F8;
  border-radius: 45px;
  border:none;
  font-size: 25px;
  padding-left: 20px;
}
.validation_failed_phone_number {
  margin-left: 19px;
  width: 503px;
  height: 72px;
  background-color: #FAF8F8;
  border-radius: 45px;
  border-color: #ff1313;
  font-size: 25px;
  padding-left: 20px;
}
.address-fields{
  display: flex;
  border:none;
  font-size: 25px;
  flex-wrap: wrap;
}
.street{
  width: 458px;
  height: 72px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: #FAF8F8;
  border-radius: 45px;
  border:none;
  font-size: 25px;
  padding-left: 20px;
}
.validation_failed_street{
  width: 458px;
  height: 72px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: #FAF8F8;
  border-radius: 45px;
  border-color: #ff1313;
  font-size: 25px;
  padding-left: 20px;
}

.home{
  width: 147px;
  height: 72px;
  background-color: #FAF8F8;
  border-radius: 45px;
  margin-left: 8px;
  margin-right: 8px;
  border:none;
  font-size: 25px;
  padding-left: 20px;
}
.validation_failed_home{
  width: 147px;
  height: 72px;
  background-color: #FAF8F8;
  border-radius: 45px;
  margin-left: 8px;
  margin-right: 8px;
  border-color: #ff1313;
  font-size: 25px;
  padding-left: 20px;
}
.entrance{
  width: 165px;
  height: 72px;
  border-radius: 45px;
  background-color: #FAF8F8;
  margin-left: 8px;
  margin-right: 8px;
  border:none;
  font-size: 25px;
  padding-left: 20px;
}
.validation_failed_entrance{
  width: 165px;
  height: 72px;
  border-radius: 45px;
  background-color: #FAF8F8;
  margin-left: 8px;
  margin-right: 8px;
  border-color: #ff1313;
  font-size: 25px;
  padding-left: 20px;
}
.flat{
  width: 165px;
  height: 72px;
  border-radius: 45px;
  background-color: #FAF8F8;
  margin-left: 8px;
  margin-right: 8px;
  border:none;
  font-size: 25px;
  padding-left: 20px;
}
.validation_failed_flat{
  width: 165px;
  height: 72px;
  border-radius: 45px;
  background-color: #FAF8F8;
  margin-left: 8px;
  margin-right: 8px;
  border-color: #ff1313;
  font-size: 25px;
  padding-left: 20px;
}

.floor{
  width:141px;
  height: 72px;
  border-radius: 45px;
  background-color: #FAF8F8;
  margin-left: 8px;
  margin-right: 8px;
  border:none;
  font-size: 25px;
  padding-left: 20px;
}
.validation_failed_floor{
  width:141px;
  height: 72px;
  border-radius: 45px;
  background-color: #FAF8F8;
  margin-left: 8px;
  margin-right: 8px;
  border-color: #ff1313;
  font-size: 25px;
  padding-left: 20px;
}

.shipping_method__delivery{
  font-size: 34px;
  color: #A4A4A4;
  cursor: pointer;
}
.shipping_method__delivery_visited {
  color: red;
  text-decoration: underline;
}
.shipping_method__pickup{
  font-size: 34px;
  color:#A4A4A4;
  margin-left: 56px;
  cursor: pointer;
}
.shipping_method__pickup_visited{
  color: red;
  text-decoration: underline;
}
.pick-up-time__question{
  font-size: 24px;
  font-weight: 700;
  color: #ff1313;
  padding-top: 120px;
  padding-bottom: 58px;
}
.pick-up-time_times{
  display: flex;
}
.time-button{
  width: 148px;
  height: 71px;
  border: none;
  border-radius: 45px;
  background-color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  font-family: Raleway-SemiBold, serif;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-left: 6px;
  margin-right: 6px;
  cursor: pointer;
}
.payment-buttons{
  padding-bottom: 160px;
}
.cash-payment-button{
  width: 277px;
  height: 88px;
  border-radius: 45px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  font-family: Raleway-SemiBold, serif;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  cursor: pointer;
}
.bank-card-button{
  background-color: #FFFFFF;
  width: 277px;
  height: 88px;
  border-radius: 45px;
  border:none;
  margin-left: 16px;
  font-size: 20px;
  font-weight: 600;
  font-family: Raleway-SemiBold, serif;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  cursor: pointer;
}
.total-sum{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 56px;
}
.total{
  font-size: 24px;
  font-weight: 700;
  padding-top: 10px;
  padding-right: 24px;
}
.total_prise{
  color: #ff1313;
  font-size: 38px;
}
.payment-method{
  padding-top: 120px;
  display: flex;
  flex-direction: column;
}
.payment-method-title{
  padding-bottom: 60px;
  color: #ff1313;
  font-size: 24px;
  font-weight: 700;
}
.order-button-cart-1{
  display: flex;
  justify-content: center;
  max-width: 310px;
  max-height: 70px;
  margin: 0 auto;
  padding-bottom: 34px;
  cursor: pointer;
}

.return-change-order-button{
  font-size: 18px;
  font-weight: 500;
  color: #ff1313;
  display: flex;
  justify-content: center;
  padding-bottom: 164px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .user-name{
    font-size: 20px;
  }
  .input_field_name{
    width: 600px;
    height: 60px;
    font-size: 20px;
  }
  .validation_failed_input_name{
    width: 600px;
    height: 60px;
    font-size: 20px;
  }
  .code_country{
    width: 120px;
    height: 60px;
    font-size: 20px;
  }
  .validation_failed_code_country{
    width: 120px;
    height: 60px;
    font-size: 20px;
  }
  .phone_number{
    width: 440px;
    height: 60px;
    font-size: 20px;
  }
  .validation_failed_phone_number{
    width: 440px;
    height: 60px;
    font-size: 20px;
  }
  .street{
    width: 370px;
    height: 60px;
    font-size: 20px;
  }
  .validation_failed_street{
    width: 370px;
    height: 60px;
    font-size: 20px;
  }
  .home{
    width: 120px;
    height: 60px;
    font-size: 20px;
  }
  .validation_failed_home{
    width: 120px;
    height: 60px;
    font-size: 20px;
  }
  .entrance{
    width: 120px;
    height: 60px;
    font-size: 20px;
  }
  .validation_failed_entrance{
    width: 120px;
    height: 60px;
    font-size: 20px;
  }
  .flat{
    width: 120px;
    height: 60px;
    font-size: 20px;
  }
  .validation_failed_flat{
    width: 120px;
    height: 60px;
    font-size: 20px;
  }
  .floor{
    width: 120px;
    height: 60px;
    font-size: 20px;
  }
  .validation_failed_floor{
    width: 120px;
    height: 60px;
    font-size: 20px;
  }
  .phone-number-user{
    font-size: 20px;
  }
  .address-fields{
    font-size: 20px;
  }
  .shipping_method__delivery{
    font-size: 30px;
  }
  .shipping_method__pickup{
    font-size: 30px;
  }
  .order-button-cart-1 {
    max-width: 260px;
  }
  .return-change-order-button{
    font-size: 15px;
  }
  .total{
    font-size: 20px;
  }
  .total_prise{
    font-size: 30px;
  }
  .pick-up-time__question{
    font-size: 20px;
  }
  .time-button{
    width: 120px;
    height: 50px;
    font-size: 15px;
  }
  .payment-method-title{
    font-size: 20px;
  }
  .payment-buttons{
    padding-bottom: 80px;
  }
  .cash-payment-button{
    width: 230px;
    height: 70px;
    font-size: 15px;
  }
  .bank-card-button{
    width: 230px;
    height: 70px;
    font-size: 15px;
  }
}
@media (max-width: 850px) {
  .shipping_method__delivery_visited{
    font-size: 25px;
  }
  .shipping_method__delivery{
    font-size: 25px;
  }
  .shipping_method__pickup{
    font-size: 25px;
  }
  .shipping_method__pickup_visited{
    font-size: 25px;
  }
  .input_field_name{
    max-width: 550px;
  }
  .validation_failed_input_name{
    max-width: 550px;
  }
  .code_country{
    max-width: 100px;
  }
  .validation_failed_code_country{
    max-width: 100px;
  }
  .phone_number{
    max-width: 400px;
  }
  .validation_failed_phone_number{
    max-width: 400px;
  }
  .home{
    max-width: 100px;
  }
  .validation_failed_home{
    max-width: 100px;
  }
  .entrance{
    max-width: 100px;
  }
  .validation_failed_entrance{
    max-width: 100px;
  }
  .flat{
    max-width: 100px;
  }
  .validation_failed_flat{
    max-width: 100px;
  }
  .floor{
    max-width: 100px;
  }
  .validation_failed_floor{
    max-width: 100px;
  }
}
@media (max-width: 650px){
  .pick-up-time__question{
    padding-bottom: 30px;
  }
  .pick-up-time_times{
    flex-wrap: wrap;
  }
  .time-button{
    margin-top: 15px;
  }
  .payment-method{
    padding-top: 80px;
  }
  .payment-buttons{
    padding-bottom: 5px;
  }
  .shipping_method__delivery{
    font-size: 20px;
  }
  .shipping_method__delivery_visited{
    font-size: 20px;
  }
  .shipping_method__pickup{
    font-size: 20px;
  }
  .shipping_method__pickup_visited{
    font-size: 20px;
  }
  .user-name{
    font-size: 18px;
  }
  .phone-number-user{
    font-size: 18px;
  }
  .pick-up-time{
    font-size: 18px;
  }
  .payment-method{
    font-size: 18px;
  }
  .total-sum{
    font-size: 18px;
  }
  .input_field_name{
    max-width: 400px;
  }
  .validation_failed_input_name{
    max-width: 400px;
  }
  .code_country{

  }
  .validation_failed_code_country{

  }
  .phone_number{
    max-width: 260px;
  }
  .validation_failed_phone_number{
    max-width: 260px;
  }
  .street{
    width: 260px;
  }
  .validation_failed_street{
    width: 260px;
  }
  .home{
    max-width: 100px;
  }
  .validation_failed_home{
    max-width: 100px;
  }
  .entrance{
    max-width: 100px;
  }
  .validation_failed_entrance{
    max-width: 100px;
  }
  .flat{
    max-width: 100px;
  }
  .validation_failed_flat{
    max-width: 100px;
  }
  .floor{
    max-width: 100px;
  }
  .validation_failed_floor{
    max-width: 100px;
  }
}
@media (max-width: 530px){
  .payment-method-title{
    padding-left: 10px;
  }
  .cash-payment-button{
    width: 190px;
    height: 50px;
    font-size: 12px;
  }
  .bank-card-button{
    width: 190px;
    height: 50px;
    font-size: 12px;
  }
}
@media (min-width: 320px) and (max-width: 490px){
  .input_field_name{
    max-width: 320px;
  }
  .validation_failed_input_name{
    max-width: 320px;
  }
  .code_country{

  }
  .validation_failed_code_country{

  }
  .phone_number{
    max-width: 180px;
  }
  .validation_failed_phone_number{
    max-width: 180px;
  }
  .street{
    width: 200px;
  }
  .validation_failed_street{
    width: 200px;
  }
  .home{
    max-width: 80px;
  }
  .validation_failed_home{
    max-width: 80px;
  }
  .entrance{
    max-width: 80px;
  }
  .validation_failed_entrance{
    max-width: 80px;
  }
  .flat{
    max-width: 80px;
  }
  .validation_failed_flat{
    max-width: 80px;
  }
  .floor{
    max-width: 80px;
  }
  .validation_failed_floor{
    max-width: 80px;
  }
}
