@font-face {
    font-family: 'raelway-600';
    src: url("./Raleway/static/Raleway-SemiBold.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url("./Raleway/static/Raleway-Regular.ttf");
    font-weight: bold;
}
